h2 {
   color: white;
   text-align: center;
   font-size: 50px;
   margin-bottom: 20px;
   display: flex;
   align-items: center;
   border-radius: 10px;
   border: 2px solid white;
}

#clock {
   color: white;
   font-size: 45px;
   text-align: center;
   margin-left: auto;
}

strong {
   color: #ffd103;
}

.table-responsive {
   margin-bottom: 20px;
   background-color: #ffffff3d;
   border-radius: 10px;
   overflow: auto;
   box-shadow: 0 8px 6px -6px black;
}

table {
   border-collapse: collapse;
   width: 100%;
}


td, th {
   padding: 8px;
   line-height: 25px;
   vertical-align: top;
   border-bottom: 1px solid #DDD;
   text-align: center;
   color: white;
   font-size: 25px;
}

body {
   background-color: #1d12ee;
}

header.header-flex {
    display: flex;
    justify-content: space-between; /* Distribue l'espace également */
    align-items: center;
    width: 100%;
}

.header-flex > * {
    flex: 1; /* Donne à chaque enfant une part égale de l'espace */
    display: flex;
    justify-content: center; /* Centre le contenu de chaque colonne */
    align-items: center;
}

.some-element {
    transform: scale(1.5);
    transform-origin: 0 0; /* Assure que le zoom commence en haut à gauche */
}


